
<div class="accommodation">
  <h1>
    Club Magic Life Kalawy Imperial 
    <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
  </h1>
  <h3>Egypte - Rode Zee - Port Safaga</h3>
  <ul class="accommodation_menu">
    <li class="current"><a href="#">The place</a></li>
    <li><a href="#">Map</a></li>
    <li><a href="#">Description</a></li>
    <li><a href="#">Photos</a></li>
  </ul>

  <div class="accommodation_content">
    <object width="853" height="480">
      <param name="movie"
             value="https://www.youtube.com/v/M7lc1UVf-VE?version=3&autoplay=0"></param>
      <param name="allowScriptAccess" value="always"></param>
      <embed src="https://www.youtube.com/v/ThG9qx9AiKs?version=3&autoplay=0"
             type="application/x-shockwave-flash"
             allowscriptaccess="always"
             width="853" height="480"></embed>
    </object>
  </div>
  <div class="accommodation_highlights">
    <h3>The Trip</h3>
    <ul>
      <li>8 dagen</li>
      <li>2 adults 1 child</li>
      <li>from Amsterdam Schipol</li>
      <li>11 Augustus 2013 16:00</li>
      <li>5 hours flight</li>
      <li>7 days duration</li>
    </ul>
    <h3>Rating</h3>
    <div class="zoover">
      <p class="zoover-rating">9.5</p>
      <p class="zoover-reviews">17 reviews</p>
      <p class="zoover-icon"></p>
    </div>
    <h3>Wheater</h3>
    <table>
      <tbody>
        <tr>
          <td class="date">11 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
        <tr>
          <td class="date">12 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
        <tr>
          <td class="date">13 Juni</td>
          <td><i class="icon-cloud"></i> </td>
          <td class="temperature"> <span class="temperature_color_medium"></span> 12&deg;/13&deg;</td>
        </tr>
        <tr>
          <td class="date">14 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
        <tr>
          <td class="date">15 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
        <tr>
          <td class="date">16 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
        <tr>
          <td class="date">17 Juni</td>
          <td class=""><i class="icon-certificate"></i> </td>
          <td class="temperature"> <span class="temperature_color_warm"></span> 15&deg;/30&deg;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div id="bidArea" class="bid_bar">
  <div class="bid_center">
    <span id="clock"></span>
    <div id="current_bid">
      <p>
        Current bid:
        <strong>&euro; 0</strong>
      </p>    
    </div>
    <div class="make_bid">
      <input type="text" id="bid">
      <button type="button" id="submitBid">Beat the Bid!</button>
    </div>
  </div>
</div>


<h2><small>History</small></h2>
<ul id="bids"></ul>


<div id="footer">
    <span class="hero"></span>
    <p class="share">
      <span class="facebook"></span>
      <span class="twitter"></span>
    </p>
</div>



 

