<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bidding Prototype</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text-javascript" src="/js/vendor/socket.io.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= js :application %>
  </body>
</html>
